/* -----------------Обнулення--------------------- */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-family: Rubik;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* ---------------------------------------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


/* ------------------------------------------------ */

[class*="__container"] {
    max-width: 1087px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.main {
    flex: 1 1 auto;
}

.footer {}


/* -----------------------header----------------------------- */

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    position: absolute;
    z-index: 3;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 3;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #000000;
}

.button {
    display: inline-block;
    font-family: Raleway;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #fcfdfe;
    padding: 14px 30px;
    background-color: #ec5863;
    border-radius: 5px;
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #df747c;
}

.button__blue {
    background-color: #4285f4;
}

.button__blue:hover {
    background-color: #71a1ee;
}


/* ---------------------adaptive-------------------------- */


/* pc */

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}


/* tablet */

@media (max-width: 991.98px) {
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .header__container {
        min-height: 80px;
    }
    [class*="__container"] {
        max-width: 750px;
    }
}


/* mobile */

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
    .menu__item {
        margin: 0px 0px 15px 0px;
    }
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.5s ease 0s;
        z-index: 50;
    }
    .open .menu__body {
        left: 0;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #000;
        font-size: 20px;
    }
    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* mobile small*/

@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}


/* --------------------burger-------------------------- */

.icon__menu {
    display: none;
}

@media (max-width: 767.98px) {
    .icon__menu {
        display: inline-block;
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }
}

.icon__menu span {
    background-color: rgb(5, 5, 5);
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;
}

.icon__menu span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.icon__menu span:nth-child(2) {
    top: 13px;
    left: 0px;
    opacity: 1;
}

.icon__menu span:nth-child(3) {
    bottom: 0px;
    left: 0px;
}

.icon__menu:not(.open):hover span:nth-child(1) {
    transform: rotate(0deg) scaleY(1.1);
}

.icon__menu:not(.open):hover span:nth-child(2) {
    transform: rotate(0deg) scaleY(1.1);
}

.icon__menu:not(.open):hover span:nth-child(3) {
    transform: rotate(0deg) scaleY(1.1);
}

.icon__menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
}

.icon__menu.open span:nth-child(2) {
    opacity: 0;
}

.icon__menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
}


/* -------------------------get-started------------------------------ */

.get-started {}

.get-started__container {}

.get-started__row {
    display: flex;
    padding: 114px 0px 0px 0px;
}

.get-started__card {
    padding: 126px 15px 0px 18px;
}

.card__get-started {
    flex: 1 1 47%;
}

.card__get-started__title {}

.title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
}

.blue {
    color: #4285f4;
}

.card__get-started__text {
    padding: 12px 0px 24px 0px;
}

.text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #616161;
}

.card__get-started__button {}

.get-started__image {
    flex: 0 0 53%;
    position: relative;
    z-index: 2;
}

.get-started__image img {
    padding: 39px 9px 0px 0px;
}

.get-started__video {}

.video__get-started {
    padding: 98px 0px 48px 18px;
}

.video__get-started__body {
    display: flex;
}

.video__get-started__icon {
    padding: 0px 12px 0px 0px;
}

.video__get-started__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video__get-started__title {
    padding: 0px 0px 5px 0px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    /* or 16px */
    letter-spacing: 0.08em;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #b0b0b0;
}

.video__get-started__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    /* or 11px */
    letter-spacing: 0.165em;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
}